<div class="top-header">
  <div class="container">
    <div class="top-header-main">
      <div class="col-md-6 top-header-left">
        <div class="drop">
          <div class="box">
          <select tabindex ="4" class="dropdown drop">
          <option value="" class="label">Cash </option>
          <option value="1">Dollar </option>
          <option value="2">Euro </option>
          </select><br>
        
        <div tabindex ="4" class="dropdown drop">
        
        <% if user_signed_in? %>
          <% if current_user.try(:admin?) %>
          
              <%= link_to 'administrator', '#', style: "color: red" %>
          
              <%= link_to 'API', '/oauth/applications', style: "color: blue" %>
          
          <%end%>
          
            <a href="#">
            Welcome,<%= current_user.email %>
            </a>
          
            <%= link_to 'Exit', destroy_user_session_path %><br>
          
            <%= link_to 'Editing', edit_user_registration_path %><br>
          
          <% else %>
          
            <%= link_to 'Login', new_user_session_path %><br>
          
            <%= link_to 'Signin', new_user_registration_path %>
          <br>
          <% end %>
        </div>
          </div>

      <div class="clearfix"></div>
        </div>
          </div>

      <div class="col-md-6 top-header-left">
      <div class="cart box_1">

      <a href="/cart" onclick="getCart(); return false;">
      <div class="total">
      <%= image_tag('cart-1.png', alt: "") %>
      <% if cart_items.any? %>
      <span class="simpleCart_total">
      <%= format("%.2f", cart_total ) %>$ </span>
      <%else%>
      <span class="simpleCart_total">Empty Cart</span>
      <% end %>

</div>
</a>


<div class="clearfix"></div>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>
</div>